@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Poppins:wght@300;700&family=Sedgwick+Ave+Display&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Inter:wght@300;700&family=Poppins:wght@300;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;700&display=swap');



:root{
  --color-orange : #ff9a34;
  --color-soft-white : rgba(255, 255, 255, 0.733);
}

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Fira Mono', monospace;
  color: white;
}




html{
  margin: 0 auto;
  max-width: 1500px;
}
body{
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
}


.content-container{
  
  margin-top: 5rem;
}

.nav{
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.66);
}

.nav-ul{
  margin: auto;
  list-style: none;
  display: flex;
  gap: 1rem ;
  transition: 1s ease;
}


 a{
  padding: 5px 10px;
  color: var(--color-soft-white);
  text-decoration: none;
}
li a:hover:not(.active){
  color: white;
}

.logo-container{
    font-family: 'Poppins', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 400 ;
  /*   style for the text   */
  color:var(--color-orange);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: auto;
}
.logo{
  object-fit: cover;
  border: 2px solid var(--color-orange);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.logo:hover{
  transform: scale(1.2);
}

.active{
  color: var(--color-orange);
  border: 1.5px solid var(--color-orange);
  border-radius: 15px;
}

.lang a{
  position: relative;
}

.lang button{
  margin-left: 8px ;
  padding: auto 4px;
  background: none;
  border: none;
}
.lang button:hover{
  cursor: pointer;
  color: #ff9a34;
}

/*  about section  */
.about-section{
  background: rgb(255,154,52);
  background: url('./images/backgrounds/topography.svg') ,radial-gradient( ellipse , rgba(253, 173, 93, 0.523) 10%, rgba(0,0,0,0) 80%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.about-section h1{
  margin-bottom: 2rem ;
  
}
.about-section div p i{
  margin: 0.5rem 2rem ;
}

.cards{

  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  border: 2px solid rgba(255, 255, 255, 0.427);
  border-radius: 5px;
}


.cards h2{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
  color: rgba(255, 255, 255, 0.758);
  backdrop-filter: blur(10px);
  padding: 0 1rem;
  border:  2px solid rgba(255, 255, 255, 0.427);
}


.life-line {
  position: absolute;
  border-left: 1.5px dashed var(--color-orange);
  height: 5rem;
  left: 50%;
  top: calc(100%  - 2rem);
 
}



.progress-container-withLine{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.progress-container {
  display: flex;
  max-width: 482px;
  height: 150px;
  margin: 2rem 0;
}
.progress-img, .projects-img{
  flex: 1;
  /* width: 200px; */
  position: relative;
  background-color: #111111;
  border-top-left-radius: 8px ;
  border-bottom-left-radius: 8px ;
  border : 1px solid rgba(255, 255, 255, 0.1)
}

.progress-img i , .projects-img i{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-17%, -17%);

}

.progress-info, .projects-info{
  padding: 0.5rem 1rem;
  flex: 2;
  background-color: rgb(34, 34, 34);
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  
  border-top-right-radius:9px;
  border-bottom-right-radius: 9px;
  
}
.progress-info h4,  .projects-info h4{
  color: var(--color-orange);
}
.progress-info p, .projects-info p {
  text-align: justify;
  font-size: 12px;
  hyphens: auto;
}

.lang a:not(:last-child)::after{
  content: '';
  background-color: var(--color-soft-white);
  position: absolute;
  left: 2.5rem;
  width: 2px;
  height: 1.25rem;
}

section{
  padding: 6rem 0rem;
  scroll-margin-top: -20px; /* to scroll into the right section without showing the section before */
}
.home-section h1 {
  font-size: 3rem;
}
.home-section div p a {
  padding: 0;
}
.home-section div {
  max-width: 100vw;
  margin: 0 1rem;
}
.home-section{
   
  line-height: 2;
  height: 100vh;
 
  
background: radial-gradient(ellipse, rgba(125,192,238,0) 30%, rgba(0,0,0,1) 86%),url('./images/backgrounds/topography-orange.svg');

}

/*  section des projets, quelque chose sont partagé avec progress cards*/

.projects-container{  /*  this for each project*/
  position: relative;
  box-shadow: #000000 0px 2px 25px; 
  display: flex;
  min-width: 250px;
    height: 120px; 
  margin: 2rem 0;
}

/* triangel to open more infos*/

@keyframes infosArrowAni {
  0% { top: 73% ;}
  50% { top: 77%  ;color: #ff9a349e;}
  100% {top: 73%  ; }
  
}

.projects-section{
  position: relative;
 display: flex;
 flex-direction: column;
 background: radial-gradient(ellipse, rgba(255, 154, 52, 0.75) 10%, rgba(0, 0, 0, 0.6) 70%),url('./images/backgrounds/circuit-board.svg');

}


.projects-section h2{
  align-self: center;

}

.projects-info {
  border-radius: 0;
  flex: 2;
}
.projects-img {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.338);
  backdrop-filter: blur(2px);
  border-radius:   0 ;
  display: flex;

 

}
#arrowLeft , #arrowRight{
  position: absolute;
  z-index: 990;
  padding: 10px;
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(-45deg);
  transition: 0.5s ease-in-out; 
}
#arrowLeft{
  left: 10%;
  
}
#arrowRight{
  transform: rotate(135deg);
  right: 10%;
  
}

#arrowLeft:hover , #arrowRight:hover{
  border-top: 3px solid var(--color-orange);
  border-left: 3px solid var(--color-orange);
  cursor: pointer;
  
}

.projects-wrapper{
  /* cursor: grab; */
  position: relative;
  display: flex;
  max-width: 100vw;
  gap: 10vw;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: 0 calc(50% - 250px/2);  /* pour centrer la carte des projets au début et a la fin*/
}

/* style pour cacher le scrollbar */
.projects-wrapper::-webkit-scrollbar{
 display: none;
}


@media screen and (max-width: 700px) {

  .projects-wrapper{
    position: relative;
    display: flex;
    max-width: 100vw;
    gap: 10vw;
    overflow-x: auto;
  }
  
}
@media screen and (min-width: 700px) {
  .home-section div{
    padding: 3rem;
  }
}
@media  screen and ( min-width: 452px) and (max-width: 600px )  {
  .home-section div h1{
    font-size: 2rem;
  }
  .home-section div{
    padding: 1rem;
  }
  
}

@media screen and ( max-width: 450px) {
  #uses{
    padding: 10px !important;
  }
  .home-section div h1{
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  .home-section div p{
    font-size: 14px;
  }
  .home-section div{
    
    margin-top: 50%;
    transform: translateY(-50%);
  }
  
  .cards{
    margin: 0 1.5rem;
  }
  .progress-container{
     height: auto; 
  }
}


/* #responsive-bar svg { 
  display: none;
 width: 40px;
 height: 40px;
}
#responsive-bar svg path{
  stroke: var(--color-soft-white);
} */


 #open-nav svg{
  position: absolute;
  display: none;
  right: 15px;
  top: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
}
#open-nav svg:hover{
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0.9;
}

#open-nav svg path{
  stroke: var(--color-orange);
}


 #close-nav {
  position: absolute;
  display: none;
  right: 15px;
  top: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
}
#close-nav:hover{
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0.9;
}







@media screen and (max-width: 1000px) {
  .SamllNav{
    display: flex;
    justify-content: center;
  }
  
  .nav{
    background-color:black;
  }
  .nav ul{
    z-index: 999;
    padding-top: 60px;
    position: fixed;
    left: -100vw;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }
  .nav ul li a{
    font-size: 1.23rem;
    line-height: 48px;
   
  }
  .nav {
    display: block;
  }

 
  #open-nav svg{
    display: block !important;
    
  }

 
  
 
 
}


.footer{
  position: fixed;
  z-index: 999;
  bottom: 0;
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.svg-icon {
 width: 24px;
 cursor: pointer;
}
.svg-icon:hover{
opacity: 0.8;
transform: scale(0.9);
}
.reseau{
  display: flex;
  gap: 8px;
}

#uses{
  margin: 1rem 2rem;
  padding: 5rem;
  min-height: 100vh;
}

#uses ul li {
color:#C9C7C9;
 margin-top: 10px;
 line-height: 25px;

}

.PhoneHide{
  display: none;  /* to show with hover */
  position: absolute;
  border-radius:  10px ;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  color: #111111;
  padding: 4px 8px;
}
.PhoneHide::after {
content: '';
position: absolute;
background: whitesmoke;
width: 14px;
height: 14px;
top:  calc(100% - 7px);
left: 50%;
transform: translateX(-50%) rotate(45deg);
}

.phoneLogo:hover + .PhoneHide{
  display: block;
}
/* Make sure the overlay is on top of child elements */

/* @media screen and (max-width:450px) {
  .nav-ul{
    display: none;
  }
} */

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);


.App[dir="rtl"]  *:not(i){  /*without not(i)  the i are not displayin*/
  /* font-family: 'Amiri', serif !important;  */
  font-family: 'El Messiri', sans-serif !important;
 
}
.projects-info p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App[dir="rtl"] .progress-img{
  border-radius: 0 9px 9px 0;
}

.App[dir="rtl"] .progress-info{
  border-radius: 9px 0 0 9px;
}
.App[dir="rtl"] .progress-info i{
  transform: scaleX(-1);
}

.cardsContainer{
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ButtonShowMore {
  position: absolute;
  margin: 0px;
  padding-bottom: 8px;
  font-size: 24px;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 20px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);  
  animation: infosArrowAni 1s infinite ;
  min-height: 25px;
 
}
.ButtonShowMore:hover {
 color: var(--color-orange);
}


.openProject{
  height: 400px !important ;
}
.openProject p{
  display: block ;
}

.RotateButton{
  transform: rotate(180deg);
}


@keyframes alert {
  0%{ color: #C9C7C9}

  50%{color: #fd4f2c; transform:scale(0.9) ;}
  
  100%{ color: #C9C7C9}
}
.h6ClickLogo{
  
  float: left;
  animation: alert 1s infinite  ;
}


.downloadCV{
  color: #ff9a34;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgba(112, 128, 144, 0.425);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.downloadCV i{
 font-size: 24px;
 margin-right:8px ;
}
.App[dir="rtl"] .downloadCV i{
  margin-left:8px ;
 }

 .downloadHover , .downloadHover i {
  transition: 0.2s ease-in-out;
 }

 .downloadHover:hover, .downloadHover:hover i{
  color: #ff9a34e4;
  opacity: 0.9;
  transform: scale(0.97);

 }